<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=5.0">
<title>主页</title>
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta name="description" content="">
<meta name="keywords" content="">
<script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../static/js/common.js" type="text/javascript"></script>
</head>
<body>
	<div>主页</div>

<script  type="text/javascript">
	$(function() {
		$('div').html('主页, 用于展示业务主板');
		alert(getParameter('tp'));
	});
</script>
</body>
</html>