<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawrence.hush.dao.SpansDao">

  <resultMap id="BaseResultMap" type="com.lawrence.hush.model.Spans">
    <result column="trace_id_high" jdbcType="BIGINT" property="traceIdHigh" />
    <result column="trace_id" jdbcType="BIGINT" property="traceId" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="debug" jdbcType="BIT" property="debug" />
    <result column="start_ts" jdbcType="BIGINT" property="startTs" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
  </resultMap>

  <insert id="insert" parameterType="com.lawrence.hush.model.Spans">
    insert into zipkin_spans (trace_id_high, trace_id, id, 
      name, parent_id, debug, start_ts, 
      duration)
    values (#{traceIdHigh,jdbcType=BIGINT}, #{traceId,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{debug,jdbcType=BIT}, #{startTs,jdbcType=BIGINT}, 
      #{duration,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lawrence.hush.model.Spans">
    insert into zipkin_spans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="traceIdHigh != null">
        trace_id_high,
      </if>
      <if test="traceId != null">
        trace_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="debug != null">
        debug,
      </if>
      <if test="startTs != null">
        start_ts,
      </if>
      <if test="duration != null">
        duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="traceIdHigh != null">
        #{traceIdHigh,jdbcType=BIGINT},
      </if>
      <if test="traceId != null">
        #{traceId,jdbcType=BIGINT},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="debug != null">
        #{debug,jdbcType=BIT},
      </if>
      <if test="startTs != null">
        #{startTs,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <select id="query" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from zipkin_spans where name = #{name, jdbcType=VARCHAR}

  </select>

</mapper>